.header {
    margin: 2% 0 4%;
}

.navigation {
    display: flex;
    list-style: none;
    justify-content: center;
}

.navigation img:hover {
    width: 430px;
}

@media (max-width: 680px) {
  .navigation img {
    width: 250px;
    height: auto;
  }

  .navigation img:hover {
    width: 260px;
}

}
