.header {
    /* border: 1px solid black; */
    /* border-radius: 4px; */
    padding: 5px;
}
.navigation {
    display: flex;
    list-style: none;
    justify-content: center;
}

.navigation img:hover {
    width: 500px;
}

@media (max-width: 680px) {
  .navigation img {
    width: 300px;
  }

  .navigation img:hover {
    width: 325px;
}

}
